/* color palette from <https://github.com/vuejs/theme> */
:root {
  --es-normal-white: #ffffff;
  --es-normal-white-soft: #f8f8f8;
  --es-normal-white-mute: #f2f2f2;

  --es-normal-black: #181818;
  --es-normal-black-soft: #222222;
  --es-normal-black-mute: #282828;

  --es-normal-indigo: #2c3e50;

  --es-normal-divider-light-1: rgba(60, 60, 60, 0.29);
  --es-normal-divider-light-2: rgba(60, 60, 60, 0.12);
  --es-normal-divider-dark-1: rgba(84, 84, 84, 0.65);
  --es-normal-divider-dark-2: rgba(84, 84, 84, 0.48);

  --es-normal-text-light-1: var(--es-normal-indigo);
  --es-normal-text-light-2: rgba(60, 60, 60, 0.66);
  --es-normal-text-dark-1: var(--es-normal-white);
  --es-normal-text-dark-2: rgba(235, 235, 235, 0.64);

  /* 科技色 */
  --es-tech-blue: rgba(0, 118, 214, 0.4);
  --es-tech-blue-soft: #b2dfff;
  --es-tech-blue-mute: #e6f7ff;
}

/* semantic color variables for this project */
body.normal {
  --color-bg: var(--es-normal-white);
  --color-bg-soft: var(--es-normal-white-soft);
  --color-bg-mute: var(--es-normal-white-mute);

  --color-border: var(--es-normal-divider-light-2);
  --color-border-hover: var(--es-normal-divider-light-1);

  --color-heading: var(--es-normal-text-light-1);
  --color-text: var(--es-normal-text-light-1);

  --section-gap: 160px;
}

body.tech {
  --color-bg: var(--es-tech-blue);
  --color-bg-soft: var(--es-tech-blue-soft);
  --color-bg-mute: var(--es-tech-blue-mute);

  --color-border: var(--es-normal-divider-light-2);
  --color-border-hover: var(--es-normal-divider-light-1);

  --color-heading: var(--es-normal-text-light-1);
  --color-text: var(--es-normal-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--es-normal-black);
    --color-bg-soft: var(--es-normal-black-soft);
    --color-bg-mute: var(--es-normal-black-mute);

    --color-border: var(--es-normal-divider-dark-2);
    --color-border-hover: var(--es-normal-divider-dark-1);

    --color-heading: var(--es-normal-text-dark-1);
    --color-text: var(--es-normal-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
